<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>My Attendance</title>
      <link rel="icon" href="/static/img/11.png" type="image/png" />
      <link rel="stylesheet" href="/static/css/student.css" />
   </head>
   <body class="srms-ui">

      <div class="page">
         <h2>My Attendance</h2>
         <div id="msg"></div>
         <table class="tbl">
            <thead>
               <tr>
                  <th>AttendanceID</th>
                  <th>CourseID</th>
                  <th>Status</th>
                  <th>Date</th>
               </tr>
            </thead>
            <tbody id="attBody"></tbody>
         </table>
         <a href="/student">Back</a>
      </div>
      <script src="/static/js/student_attendance.js"></script>
   </body>
</html>