<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>My Profile</title>
      <link rel="icon" href="/static/img/11.png" type="image/png" />
      <link rel="stylesheet" href="/static/css/student.css" />
   </head>
   <body class="srms-ui">

      <div class="page">
         <h2>My Profile</h2>
         <div id="msg"></div>
         <div class="box">
            <p><b>ID:</b> <span id="sid"></span></p>
            <p><b>Name:</b> <span id="name"></span></p>
            <p><b>Email:</b> <span id="email"></span></p>
            <p><b>DOB:</b> <span id="dob"></span></p>
            <p><b>Department:</b> <span id="dept"></span></p>
            <p><b>Clearance:</b> <span id="cl"></span></p>
         </div>
         <a href="/student">Back</a>
      </div>
      <script src="/static/js/student_profile.js"></script>
   </body>
</html>